* {
    font-family: serif;
}

.border-top {
    border-top: 6px solid #17a2b8!important;
}

.footer {
    width: 100%;
    margin-bottom: 0;
    height: 5rem;
}

.card-img-overlay {
    text-align: center;
    height: 110px;
    margin-top: 35%;
    width: 92%;
    margin-left: .93rem;
    font: white;
    z-index: 2;
}

p {
    line-height: 2.0;
    font-size: larger;
}